{% set title = 'Разработка сайтов в Челябинске' %} {% extends 'layouts/_main.html' %} {% block content
%}
<!-- ===================================== hero ================================= -->
<div class="hero">
  <div class="container">
    <h1 class="hero__title">
      Разрабатываю сайты
      для бизнеса в Челябинске
    </h1>
    <p class="hero__desc">
      Работая со мной, вы получаете продукт высокого качества по хорошей
      цене
    </p>
    <img src="img/hero__img.png" alt="" class="hero__img" />
    <div class="hero__contacts">
      
      <div class="hero__contact">
        <div class="hero__contact__label">Телефон:</div>
        <div class="hero__contact__title">+7 (951) 451-8479</div>
        <button class="b24-web-form-popup-btn-5 btn hero__contact__btn">Заказать звонок</button>
      </div>
      <div class="hero__contact">
        <div class="hero__contact__label">E-mail:</div>
        <div class="hero__contact__title">info@khasenov-studio.ru</div>
        <a href="http://wa.me/79514518479" class="btn hero__contact__btn">Написать в WhatsApp</a>
      </div>
    </div>
  </div>
</div>
<!-- =====================================END hero ================================= -->
<!-- ===================================== projects ================================= -->
<div class="projects sec" id="projects">
    <div class="container">
        <h2 class="section__title">Мои работы</h2>
        <p class="section__desc">За 5 лет я разработал более 100 проектов в разных нишах и тематиках. Некоторые из них представлены ниже</p>
        <div class="projects__items">
            <!-- projects__item -->
            <div class="projects__item">
                <div class="projects__item__img" style="background-image: url(img/proj-1.jpg);"></div>
                <div class="projects__item__text">
                    <ul class="projects__item__list">
                        <li>Компания: <span>Альтиус</span></li>
                        <li>Тип сайта: <span>Многостраничник</span></li>
                        <li>Срок изготовления: <span>30 дней</span></li>
                    </ul>
                    <a target="_blank" href="https://altius-rf.ru" class="projects__item__link">
                        <img src="img/link.svg" alt="" class="projects__item__link__icon">
                        <span class="projects__item__link__title">https://altius-rf.ru</span>
                    </a>
                </div>
            </div>
            <!--END projects__item -->
            <!-- projects__item -->
            <div class="projects__item">
                <div class="projects__item__img" style="background-image: url(img/proj-3.jpg);"></div>
                <div class="projects__item__text">
                    <ul class="projects__item__list">
                        <li>Компания: <span>Центр сертификации</span></li>
                        <li>Тип сайта: <span>Многостраничник</span></li>
                        <li>Срок изготовления: <span>30 дней</span></li>
                    </ul>
                    <a target="_blank" href="https://alliance-ar.com/" class="projects__item__link">
                        <img src="img/link.svg" alt="" class="projects__item__link__icon">
                        <span class="projects__item__link__title">https://alliance-ar.com</span>
                    </a>
                </div>
            </div>
            <!--END projects__item -->
            <!-- projects__item -->
            <div class="projects__item">
                <div class="projects__item__img" style="background-image: url(img/proj-9.jpg);"></div>
                <div class="projects__item__text">
                    <ul class="projects__item__list">
                        <li>Компания: <span>Втишине</span></li>
                        <li>Тип сайта: <span>Многостраничник</span></li>
                        <li>Срок изготовления: <span>30 дней</span></li>
                    </ul>
                    <a target="_blank" href="https://vtiho.ru/" class="projects__item__link">
                        <img src="img/link.svg" alt="" class="projects__item__link__icon">
                        <span class="projects__item__link__title">https://vtiho.ru</span>
                    </a>
                </div>
            </div>
            <!--END projects__item -->
            <!-- projects__item -->
            <div class="projects__item">
                <div class="projects__item__img" style="background-image: url(img/proj-4.jpg);"></div>
                <div class="projects__item__text">
                    <ul class="projects__item__list">
                        <li>Компания: <span>Мойдодыр</span></li>
                        <li>Тип сайта: <span>Многостраничник</span></li>
                        <li>Срок изготовления: <span>30 дней</span></li>
                    </ul>
                    <a target="_blank" href="http://sisal.spb.ru" class="projects__item__link">
                        <img src="img/link.svg" alt="" class="projects__item__link__icon">
                        <span class="projects__item__link__title">http://sisal.spb.ru</span>
                    </a>
                </div>
            </div>
            <!--END projects__item -->
            <!-- projects__item -->
            <div class="projects__item">
                <div class="projects__item__img" style="background-image: url(img/proj-5.jpg);"></div>
                <div class="projects__item__text">
                    <ul class="projects__item__list">
                        <li>Компания: <span>TRANSIT-S</span></li>
                        <li>Тип сайта: <span>Многостраничник</span></li>
                        <li>Срок изготовления: <span>30 дней</span></li>
                    </ul>
                    <a target="_blank" href="https://transit-s.ru/" class="projects__item__link">
                        <img src="img/link.svg" alt="" class="projects__item__link__icon">
                        <span class="projects__item__link__title">https://transit-s.ru</span>
                    </a>
                </div>
            </div>
            <!--END projects__item -->
            <!-- projects__item -->
            <div class="projects__item">
                <div class="projects__item__img" style="background-image: url(img/proj-6.jpg);"></div>
                <div class="projects__item__text">
                    <ul class="projects__item__list">
                        <li>Компания: <span>AVON</span></li>
                        <li>Тип сайта: <span>Лендинг-пейдж</span></li>
                        <li>Срок изготовления: <span>5 дней</span></li>
                    </ul>
                    <a target="_blank" href="http://avon-express-reg.ru/" class="projects__item__link">
                        <img src="img/link.svg" alt="" class="projects__item__link__icon">
                        <span class="projects__item__link__title">http://avon-express-reg.ru</span>
                    </a>
                </div>
            </div>
            <!--END projects__item -->
            <!-- projects__item -->
            <div class="projects__item">
                <div class="projects__item__img" style="background-image: url(img/proj-7.jpg);"></div>
                <div class="projects__item__text">
                    <ul class="projects__item__list">
                        <li>Компания: <span>Викта</span></li>
                        <li>Тип сайта: <span>Многостраничник</span></li>
                        <li>Срок изготовления: <span>30 дней</span></li>
                    </ul>
                    <a target="_blank" href="http://vikta-fish.ru/ru" class="projects__item__link">
                        <img src="img/link.svg" alt="" class="projects__item__link__icon">
                        <span class="projects__item__link__title">http://vikta-fish.ru/ru</span>
                    </a>
                </div>
            </div>
            <!--END projects__item -->
            <!-- projects__item -->
            <div class="projects__item">
                <div class="projects__item__img" style="background-image: url(img/proj-8.jpg);"></div>
                <div class="projects__item__text">
                    <ul class="projects__item__list">
                        <li>Компания: <span>Строймастер-кбу</span></li>
                        <li>Тип сайта: <span>Многостраничник</span></li>
                        <li>Срок изготовления: <span>30 дней</span></li>
                    </ul>
                    <a target="_blank" href="https://masterstroi-kbu.ru/" class="projects__item__link">
                        <img src="img/link.svg" alt="" class="projects__item__link__icon">
                        <span class="projects__item__link__title">https://masterstroi-kbu.ru</span>
                    </a>
                </div>
            </div>
            <!--END projects__item -->
            <!-- projects__item -->
            <div class="projects__item">
                <div class="projects__item__img" style="background-image: url(img/proj-2.jpg);"></div>
                <div class="projects__item__text">
                    <ul class="projects__item__list">
                        <li>Компания: <span>SAINT-EAGLE</span></li>
                        <li>Тип сайта: <span>Лендинг-пейдж</span></li>
                        <li>Срок изготовления: <span>15 дней</span></li>
                    </ul>
                    <a target="_blank" href="https://saint-eagle.agency/" class="projects__item__link">
                        <img src="img/link.svg" alt="" class="projects__item__link__icon">
                        <span class="projects__item__link__title">https://saint-eagle.agency</span>
                    </a>
                </div>
            </div>
            <!--END projects__item -->
        </div>
    </div>
</div>
<!-- =====================================END projects ================================= -->
<!-- ===================================== review ================================= -->
<div class="review sec" id="review">
  <div class="container">
    <h2 class="section__title">Видео-отзыв от компании “Втишине”</h2>
    <p class="section__desc">На видео Тимур - сотрудник компании “Втишине” делится своими впечатлениями о работе со мной</p>
    <div class="review__video">
      <iframe width="100%" class="review__video__frame" src="https://www.youtube.com/embed/00Q8YgboF4w?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>
<!-- =====================================END review ================================= -->
<!-- ===================================== contacts ================================= -->
<div class="contacts sec" id="contacts">
  <div class="container">
    <h2 class="section__title">Контакты</h2>
    <ul class="contacts__list">
      <li class="contact">
        <!-- <img src="img/phone.svg" alt="" class="contact__icon"> -->
        <div class="contact__label">Телефон:</div>
        <div class="contact__title">+7 (951) 451-8479</div>
      </li>
      <li class="contact">
        <!-- <img src="img/mail.svg" alt="" class="contact__icon"> -->
        <div class="contact__label">E-mail:</div>
        <div class="contact__title">info@khasenov-studio.ru</div>
      </li>      
      <li class="contact">
        <!-- <img src="img/loc.svg" alt="" class="contact__icon"> -->
        <div class="contact__label">Адрес:</div>
        <div class="contact__title"> г. Челябинск, ул. Александра Шмакова 17А</div>
      </li>
      <li class="contact">
        <!-- <img src="img/loc.svg" alt="" class="contact__icon"> -->
        <div class="contact__label">ИНН:</div>
        <div class="contact__title"> 741857939866</div>
      </li><li class="contact">
        <!-- <img src="img/loc.svg" alt="" class="contact__icon"> -->
        <div class="contact__label">ОГРНИП:</div>
        <div class="contact__title"> 320745600068251</div>
      </li>
    </ul>
    <div class="contacts__map" id="contacts__map"></div>
  </div>
</div>
<!-- =====================================END contacts ================================= -->
{% endblock %}
